<h4>memo.edit</h4>


<%=form_tag("/memos/"+@note.id.to_s, :method=>:patch) do %>
<%=label_tag "form-title", "Title"%>
<%=text_field :memos, :title, class:"form-control", id:"exampleInputEmail1" ,value: @note.title%>

<%=label_tag "form-title", "body"%>
<%=text_area :memos, :body,class:"form-control",size: "50x40",value: @note.body%>
<%=label_tag "form-category" , "Category" %>
<%=select_tag "memos[category_id]",options_from_collection_for_select(@categories, "id", "name"),class:"form-control"%>

<%=submit_tag "Update", class: "btn btn-primary"%>
<%end%>