<h3>All Book</h3>

<%@notes.each do |note|%>

<div class="col-sm-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        <img src="<%= "#{note.image}" %>">
          <h4>
               create day：<%=note.updated_at.strftime('%Y/%m/%d')%><br>
               category : <%= note.category.name%>
          </h4>
          <div class="buttons">
              <a href = "/memos/<%=note.id%>" data-method="delete"><span class= "glyphicon glyphicon-trash"></span></a>
              <a href = "/memos/<%=note.id%>/edit" ><span class= "glyphicon glyphicon-edit"></span></a>
              <a href = "/memos/<%=note.id%>/details" ><span class= "glyphicon glyphicon-zoom-in"></span></a>
          </div>
      </div>
    </div>
</div>

<%end%>