<!DOCTYPE html>
<html>
  <head>
    <title>Book　Manage</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><font color="white">Home</font></a>
    </div>
<div class="form-inline">
  <div class="form-group">
   <div class="search form-group">
    <%= form_with url: search_path, local: true do |f| %>
        <%=f.text_field  :search, class:" form-control",id:"exampleInputName2",placeholder:"search"%>
        <%=submit_tag "Search", class: "btn btn-primary search-btn"%>
        <%end%>
    </div>
  </div>
</div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/all"><font color="white">All Book</a></font></li>
        <li><a href="/new"><font color="white">New Book</a></font></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font color="white">Category</font><span class="caret"></span></a>
          <ul class="dropdown-menu">
              <% @categories.each do |category|%>
            <li><a href="/categories/<%= category.id%>"><%=category.name%></a></li>
            <%end%>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
         
    </header>
        <div class="container con">
            <%= yield %>
        </div>
  </body>
  
  
  <footer>
        <div class= "container">
            <p>
             ©︎hironobu-yamane All rights reserve
            </P>
        </div>
    </footer>
</html>

